<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/first">
        {% csrf_token %}
        <input maxlength="1" class="" type="text"  id="c1" name="c1"></input>
        <input maxlength="1" type="text" id="c2" name="c2"></input>
        <input maxlength="1" type="text" id="c3" name="c3"></input>
        <input maxlength="1" type="text" id="c4" name="c4"></input>
        <input maxlength="1" type="text" id="c5" name="c5"></input>
        <input type="submit"></input>
    </form>
    {% if a %}
    <h1>ssdfsdf</h1>
        <script>
            document.getElementById("c1").style.backgroundColor="green";
            document.getElementById("c1").innerText={c1};
        </script>
    {% endif %}
    {% if b %}
    <script>
        document.getElementById("c2").style.backgroundColor="green";
    </script>
    {% endif %}
    {% if c %}
    <script>
        document.getElementById("c3").style.backgroundColor="green";
    </script>
    {% endif %}
    {% if d %}
    <script>
        document.getElementById("c4").style.backgroundColor="green";
    </script>
    {% endif %}
    {% if e %}
    <script>
        document.getElementById("c5").style.backgroundColor="green";
    </script>
    {% endif %}
    
</body>
</html>